.homepage{
    background-color: grey;
    color:white;
    height:500px;
}
.welcome{
    text-align: center;
}
.Welcome{
    background-color: rgb(255, 255, 255);
    height:400px;
}
.buttons{
    height:70px;
}